[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
sitegen = {editable = true, path = "."}
toml = "*"
markupsafe = "*"
markdown = "*"
click = "*"
watchdog = "*"
pygments = "*"
furl = "*"
rfeed = "*"
schema = "*"

[dev-packages]
pytest = "*"
feedparser = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.9"
